<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (age) {%>
        <h1>You are <%= age %> years old</h1>
    <% } else {%>
        <h1>you are nobody</h1>
    <% }%>
</body>
</html>